@import "tailwindcss";

@font-face {
    font-family: Inter;
    src: url(/public/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: Inter;
    color: white;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}